<mat-toolbar class="kb-header mat-elevation-z6">
  <mat-toolbar-row class="kb-header__main">
    <div class="kb-header__list">
        <img class="kb-header__logo" src="assets/images/logo.png"/>
        <button mat-icon-button class="kb-header__button kb-header__button--bg">
          <svg class="kb-icon kb-header__button-icon">
            <use xlink:href="assets/icons/core.svg#apps"></use>
          </svg>
        </button>
        <button mat-button class="kb-header__tab kb-header__tab--selected">
          Entities
        </button>
        <button mat-button class="kb-header__tab">
          Workflow
        </button>
    </div>

    <div class="kb-header__list">
      <button mat-icon-button class="kb-header__button">
        <svg class="kb-icon kb-header__icon">
          <use xlink:href="assets/icons/core.svg#add_circle"></use>
        </svg>
      </button>
      <button mat-icon-button class="kb-header__button">
        <svg class="kb-icon kb-header__icon">
          <use xlink:href="assets/icons/core.svg#notifications"></use>
        </svg>
      </button>
      <button mat-icon-button class="kb-header__button">
        <svg class="kb-icon kb-header__icon">
          <use xlink:href="assets/icons/core.svg#settings"></use>
        </svg>
      </button>
      <button mat-icon-button mat-button class="kb-header__button">
        <img class="kb-header__account-image" src="assets/images/account-img.png"/>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="kb-header__row">
    <button mat-button class="kb-header__row-item kb-header__row-item--active"  [matMenuTriggerFor]="menu1">
      <span class="kb-header__row-text">Project</span>
      <svg class="kb-icon">
        <use xlink:href="assets/icons/core.svg#keyboard_arrow_down"></use>
      </svg>
      <svg class="kb-icon">
        <use xlink:href="assets/icons/core.svg#close"></use>
      </svg>
    </button>
    <mat-menu #menu1="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button class="kb-header__row-item"  [matMenuTriggerFor]="menu1">
      <span class="kb-header__row-text">Context </span>
      <svg class="kb-icon">
        <use xlink:href="assets/icons/core.svg#keyboard_arrow_down"></use>
      </svg>
      <svg class="kb-icon">
        <use xlink:href="assets/icons/core.svg#close"></use>
      </svg>
    </button>
    <mat-menu #menu1="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


