.kb-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: #ccc;
  fill: rgba(0, 0, 0, 0.34); }

.kb-form {
  margin: 16px 4px; }

.kb-form-title {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px; }

.kb-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87); }
  .kb-label.kb-label--required:after {
    content: '*';
    color: #f44336;
    font-weight: 600; }

.kb-card-title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87); }

.kb-grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 400px; }

.kb-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px; }

.kb-form-input {
  width: 100%;
  padding: 0px; }
  .kb-form-input:not(textarea) {
    line-height: 32px; }
  .kb-form-input .mat-form-field-wrapper {
    padding: 0; }
  .kb-form-input .mat-form-field-infix {
    padding: 0;
    border: 0; }
  .kb-form-input .mat-input-element {
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px; }

.kb-table {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%; }
  .kb-table th, .kb-table td {
    border-top: 1px solid #f3f1f4;
    border-bottom: 1px solid #f3f1f4;
    padding: 8px 16px; }
  .kb-table .kb-table__link {
    color: #528ab7;
    text-decoration: none; }
    .kb-table .kb-table__link:hover {
      text-decoration: underline; }
  .kb-table .kb-table__button {
    font-weight: 300; }
    .kb-table .kb-table__button.kb-table__button--link {
      margin-left: 16px;
      color: #528ab7; }
  .kb-table .kb-table__icon {
    width: 18px;
    height: 18px;
    fill: rgba(0, 0, 0, 0.87); }

.kb-header .kb-header__button, .kb-header .kb-header__tab {
  height: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: rgba(255, 255, 255, 0.86); }

.kb-header .kb-header__main {
  background: #42516e;
  display: flex;
  justify-content: space-between; }

.kb-header .kb-header__logo {
  margin: 0 16px 0 0; }

.kb-header .kb-header__button {
  min-width: 60px; }
  .kb-header .kb-header__button.kb-header__button--bg {
    background: rgba(0, 0, 0, 0.36); }

.kb-header .kb-header__button-icon {
  fill: rgba(255, 255, 255, 0.86);
  width: 48px;
  height: 48px; }

.kb-header .kb-header__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%; }

.kb-header .kb-header__icon {
  fill: rgba(255, 255, 255, 0.86);
  width: 24px;
  height: 24px; }

.kb-header .kb-header__tab {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 24px; }
  .kb-header .kb-header__tab.kb-header__tab--selected {
    border-bottom: 3px solid #c11b59; }

.kb-header .kb-header__account-image {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }

.kb-header .kb-header__row {
  padding: 0; }

.kb-header .kb-header__row-item {
  height: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.56); }
  .kb-header .kb-header__row-item.kb-header__row-item--active {
    border-left: 2px solid #42516e;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600; }

.kb-header .kb-header__row-text {
  padding: 0 24px 0 0;
  font-weight: 400; }
